

body{
    background-color: grey;
}


h2{
    color: brown;
    font-size: 40px;
    text-align: center;
}

p, li{
    font-size: 20px;
}

.content{
    width: 60%;
    background-color: white;
}

.content img{
    width: 100%;
}

.content li{
    list-style-type: none;
   
}

